{% extends 'base.html.twig' %}

{% block title %}Evenement {% endblock %}

{% block body %}


    {# message flash #}
    {% for message in app.flashes('success') %}
    <div class="alert alert-success text-center" role="alert">
        {{ message }}
    </div>
{% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning text-center" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger text-center" role="alert">
            {{ message }}
        </div>
    {% endfor %}



      <!-------------------envenement---------------------------->
                 {% if is_granted('ROLE_ADMIN') %}
                           <div id="listeEnvenement">
                                 <div class="container">
                                     <div id="titre-liste">
                                         <h1 class="text-center">liste brunch</h1>
                                     </div>
                                     <div class="table-responsive">
                                     <table class="table table-sm  table-striped table-light table-bordered table-hover">
                                         <thead>
                                         <tr class="primary">
                                             <th>Id</th>
                                             <th>Titre</th>
                                             <th>Descriptif</th>
                                             <th>Prix</th>
                                             <th>Date</th>
                                             <th>Heure/début</th>
                                             <th>Heure/fin</th>
                                             <th>Adresse</th>
                                             <th>Détail</th>
                                             <th>actions</th>
                                         </tr>
                                         </thead>
                                         <tbody>
                                         {% for evenement in evenements %}
                                             <tr>
                                                 <td>{{ evenement.id }}</td>
                                                 <td>{{ evenement.titre }}</td>
                                                 <td>{{ evenement.descriptif }}</td>
                                                 <td>{{ evenement.prix }}</td>
                                                 <td>{{ evenement.date ? evenement.date|date('Y-m-d')  }}</td>
                                                 <td>{{ evenement.heureDebut| date('H:i:s')}}</td>
                                                 <td>{{ evenement.heureFin | date('H:i:s') }}</td>
                                                 <td>{{ evenement.adresse }}</td>
                                                 <td>{{ evenement.details }}</td>
                                                 <td>
                                                     <a href="{{ path('evenement_modifier', {'id': evenement.id}) }}"  class="fas fa-edit text-decoration-none" title="modifier" ></a>
                                                   <!--
                                                     <button type="button" class="btn btn-primary text-decoration-none">
                                                         <a href="{{ path('evenement_modifier', {'id': evenement.id}) }}" class="text-decoration-none">Modifier</a>
                                                     </button>
                                                     -->

                                                     <a href="{{ path('evenement_afficher', {'id': evenement.id}) }}" class="fas fa-eye text-decoration-none" title="afficher" ></a>
                                              <!---
                                                     <button type="button" class="btn btn-info text-decoration-none text-white">
                                                         <a href="{{ path('evenement_afficher', {'id': evenement.id})  }}" class="text-decoration-none">Afficher</a>
                                                     </button>
                                                     -->
                                                 </td>
                                             </tr>
                                         {% else %}

                                             <tr>
                                                 <td colspan="6">Aucun enregistrement trouvé</td>
                                             </tr>
                                         {% endfor %}
                                         </tbody>
                                     </table>
                                     </div>
                                     <div  id="button_creer_Evenement_foot_annuler">
                                         <div class="button_creer_evenement_foot">
                                             <button><a href="{{ path('evenement_creation') }} ">Créer un événement</a></button>
                                         </div>
                                         <div class="button_annuler_evenement_foot">
                                             <button class="button_annuler_envenement_foot" formnovalidate><a href="{{ path('main_evenement') }}">Annuler</a></button>
                                         </div>
                                     </div>

                                 </div>
                        </div>


                {% endif %}



{% endblock %}
